<html>
  <head>
    <title>Web Service</title>
  </head>
  <body>
    <h1>Web service</h1>
    <br>
    <ul>    

	<h3>Using the web service:</h3>
	<p>
	<b>To work with the users table</b><br><br>
	Create operations:    ...WS/user [POST]<br>
	Update operations:    ...WS/user/username [PUT]<br>
	Delete operations:    ...WS/user/username [DELETE]<br><br>
	Special commands are needed for reading:<br>
	To read all users: ...WS/user/all<br>
	To read one user:  ...WS/user/one/username<br>
	</p>
	<p>
	<b>To work with the kegs table</b><br><br>
	Create operations:    ...WS/keg [POST]<br>
	Update operations:    ...WS/keg/keg_id [PUT]<br>
	Delete operations:    ...WS/keg/keg_id [DELETE]<br><br>
	Special commands are needed for reading:<br>
	To read all kegs: ...WS/keg/all<br>
	To read one keg:  ...WS/keg/one/username<br>
	</p>
	<br>
	<li><a href="/">landing page</a></li>
    </ul>
  </body>
</html>
